{% extends 'base.html' %}

{% block content %}
    <div class="col-10 col-offset-2 mt-5">
        <div class="card ">
            <div class="card-header">
                <h1>Sign in</h1>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input style="margin-top:10px ;" class="btn btn-success btn-block button" type="submit" value="Sign in">
                </form>

            </div>
            <div class="card-footer">
                <p>Already have an account? <a class="btn btn-info" href="{% url 'login' %}">Login</a></p>
            </div>
        </div>
    </div>

{% endblock content %}